In [ ]:
Question 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement

In [1]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [2]:
b()
b()
b()

In [3]:
a

6

In [ ]:
Question 2


Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [7]:
def fileLength(F_name):  #defining a function and F_name denotes name of file to open
    try:
        
        o=open(F_name) #Opening the file f_name
        b=o.read()    #Reading file to check length
        len(b)       #Checking length of file
        
        return len(b) #returning length of file
        
    except FileNotFoundError:   #if file is not found, this exception will come into play 
        print("File "+F_name+ " not found.") #and then th

In [8]:
fileLength("first.py")

File first.py not found.

In [ ]:
Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [5]:
class Marsupial: #defining a class 
    
    def __init__(main):  #defining __init__ fucntion 
        main.pouch=[]  #creating an empty list 
        
    def put_in_pouch(main,item): #definning function to add items in list
                main.pouch.append(item)  #appending items
        
    def pouch_contents(main):   #returning the contents of list     
        return (main.pouch)
        
class Kangaroo(Marsupial):  # creating kangaroo class that inherits Marsupial
    
        def __init__(main,x,y): # defining __init function that inherits main and adding x and y co-ordinates.
            main.x=x   
            main.y=y
            Marsupial.__init__(main)
            
        def jump(main,dx,dy): #defining function Jump that adding the  dx and dy 
            main.x=main.x+dy  #adding the Co-ordinates 
            main.y=main.y+dy
            
        def __str__(main): # This method returns the string representation of the object. 
            return ("I am a Kangaroo located at coordinates(" +str(main.x)+ "," +str(main.y)+ ")")

In [6]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates(0,0)

In [ ]:
Question 4


Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [9]:
def collatz(a):  # defining function collatz that take integer n.
      
    while a != 1: # running statment till n is not equal to 1.
        print(a) #printing value of n 
        
         
        if a % 2 ==0:  #if n is even then deviding n by 2 
            a = a // 2
           
        else:  #if n is odd then multiplying odd with 3 and adding 1.
             a = 3 * a + 1
                
   
    print(a) #printing at the end when n==1

In [10]:
collatz(10)

10
5
16
8
4
2
1

In [ ]:
Question 5


Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [10]:
def binary(a):  #defining function binary and defining int a
    if a > 1:  #if a is non negative this go furthur
        binary(a//2)
    print(a % 2,end = '')

binary(0) # 0
print()
binary(1) # 1
print()
binary(3) # 11
print()
binary(9)# 1001
print()

0
1
11
1001

In [ ]:
Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature
(C)
Rainfall
(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

In [73]:
# MY TABLE

import sqlite3
DATA = sqlite3.connect('tabl_cities2.db')
cursor1 = DATA.cursor()
connection = cursor1.execute("CREATE TABLE OUTPUT (City text, Country text, Season text, Temperature float, Rainfall float)")
rows = [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'summer', 27.9, 1549.4 ), ('Mumbai', 'India', 'Fall', 27.6 , 346.0), ('London', 'United Kingdom', 'Winter', 4.2, 207.7),('London', 'United Kingdom', 'Spring', 8.3, 169.6), ('London', 'United Kingdom', 'Summer', 15.7, 157.0), ('London', 'United Kingdom', 'Fall' , 10.4, 218.5), ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
for row in rows:
    cursor1.execute("INSERT INTO OUTPUT VALUES(?, ?, ?, ?, ?)", (row[0], row[1], row[2], row[3], row[4]))
#     print(row)

In [74]:
cursor1.execute("SELECT Temperature FROM OUTPUT")
akshat = cursor1.fetchall()
for x in akshat:
    print(x)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [75]:
cursor1.execute("SELECT DISTINCT City FROM OUTPUT")
akshat = cursor1.fetchall()
for x in akshat:
    print(x)

('Mumbai',)
('London',)
('Cairo',)

In [76]:
cursor1.execute("SELECT * FROM OUTPUT WHERE Country = 'India'")
akshat = cursor1.fetchall()
for x in akshat:
    print(x)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [77]:
cursor1.execute("SELECT * FROM OUTPUT WHERE Season = 'Fall'")
akshat = cursor1.fetchall()
for x in akshat:
    print(x)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [78]:
cursor1.execute("SELECT City, Country, Season FROM OUTPUT GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")
akshat = cursor1.fetchall()
for x in akshat:
    print(x)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [79]:
cursor1.execute("SELECT City, Country FROM OUTPUT WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
akshat = cursor1.fetchall()
for x in akshat:
    print(x)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [80]:
cursor1.execute("SELECT SUM(Rainfall) AS TotalRainfall FROM OUTPUT WHERE City = 'Cairo';")
akshat = cursor1.fetchall()
for x in akshat:
    print(x)

(27.6,)

In [81]:
cursor1.execute("SELECT Season, SUM(Rainfall) AS TotalRainfall FROM OUTPUT GROUP BY Season")
akshat = cursor1.fetchall()
for x in akshat:
    print(x)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 157.1)
('Winter', 230.1)
('summer', 1549.4)

In [ ]:
Question 9


. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [14]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
UPPERCASEWORDS_w=[] #list for storing UPPERCASE words
LOWERCASEWORDS_w=[] #list for storing LOWERCASE words
Length_w=[] #list for storing length of words
ULL=[] #list for storing UPPER, LOWER and length of words.

for word in words:     #running loop through all the words  
         
    UPPERCASEWORDS_w+=[word.upper()]    #converting words to uppercase and storing in  UPPERCASEWORDS_w list 
   
    LOWERCASEWORDS_w+=[word.lower()]  #converting words to lowercase and storing in  LOWERCASEWORDS_w list
 
    Length_w+=[len(word)]  #checking length of words and storing in  Length_w list    
  
    ULL+=[[word.upper(),word.lower(),len(word)]]  

Len_4=[word for word in words if len(word)>= 4] #printing words with length greater or = to 4
    
#Printing result
print("a)",UPPERCASEWORDS_w)
print("b)", LOWERCASEWORDS_w)
print("c)",Length_w)
print("d)",ULL)   
print("e)",Len_4)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy']